# Dependencies and tests coverage
node_modules
coverage

# Next.js
/.next/
out

# Production Build
build

# Vercel
/.vercel/

# TypeScript
next-env.d.ts
tsconfig.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# ESLint
.eslintcache